/*font-family: 'Alfa Slab One', cursive; */

footer {
    background-color: aqua;
}

h1,h2 {
    font-family: 'Alfa Slab One', cursive;
}

.hero {
    background: url(../images/header.jpg) no-repeat;
    background-size: contain;
    height: 0.5vh;
    min-height: 600px;
    color: white;
}

.lista-novedades {
    margin: 0;
    padding: 0;
    list-style: none;
}

.lista-novedades li {
    margin: 4px 0;
}

.lista-novedades li a {
    background-color: beige;
    font-family: 'Alfa Slab One', cursive;
    text-decoration: none;
    font-size: 1.2rem;
    color: gray;
    transition: all .2s ease-in-out;
    display: block;

}

.lista-novedades li a:hover {
    color: orangered;
    background-color: lightgreen;
}

.lista-novedades li a img {
    width: 120px;
    height: 50px;
    filter: grayscale();
    transition: all .2s ease-in-out;
    margin-right: 1rem;
    opacity: 0.7;
}

.lista-novedades li a:hover img {
    filter: none;
    margin-right: 1.4rem;
    opacity: 1;
}

.btn {
    background-color: red;
    color: black;
}

.btn2 {
    background-color: rgb(146, 213, 69);
    color: black;
}

.testimonios {
background-color: rgb(182, 83, 182);
width: fit-content;
padding-bottom: 4rem !important;
}

.testimonio {
    text-align: center;
    padding: 50px 20px;
}

.wawawa {
display: flex;
align-items: center;
padding-right: 8rem;
}

.wowowo {
    font-size: larger;
  text-align: center;
  margin: 4px;
}

.staff {
    background-color: rgb(77, 176, 226);
}

.mapa iframe {
    width: 100%;
    aspect-ratio: 1.2;
}

html {
    scroll-behavior: smooth;
}

.scroll_selection {
    scroll-margin-top: 60px;
}

